@import "./root.module.css";

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5em;
}

.topTexto{
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: var(--principal);
    padding: 1em 0 2em 0;
}

.topTexto svg{
    font-size: 22px;
    margin-right: 10px;
}

.topTexto h1{
    font-size: 26px;
}

.containerCards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuTabela{
    background-color: #eeeef1;
} 

.menuTabela ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: right;
    font-size: 18px;
    font-weight: bolder;
}

.menuTabela .produto{
    width: 50%;
}

.menuTabela .preco{
    text-align: right;
    width: 20%;
}

.menuTabela .quantidade{
    text-align: right;
    width: 20%;
    padding-right: 5px;
}

.divProduto{
    display: flex;
    background-color: #eeeef1;
    border: 1px solid #bcbcbd;
    border-left: none;
    border-right: none;
    align-items: center;
    height: 150px;
}

.divProduto img{
    width: 8%;
    margin-right: 1.5%;
}

.divProduto .nome{
    width: 50%;
}

.divProduto span{
    text-align: right;
    width: 20%;
}

.divProduto div{
    position: relative;
    width: 20%;
}

.divProduto div span{
    padding: 0 1em 0 1em;
}

.divProduto div button{
    background-color: #bcbcbd;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

.divProduto div button:hover{
    cursor: pointer;
    background-color: #d1d1d1;
    border: 1px solid #bcbcbd; 
}

.divProduto div .btnQuant{
    margin-left: 25%;
}

.divProduto div .remover{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1em;
    padding: 0;
    width: 30px;
    height: 30px;
    vertical-align: super;
    border: 1px solid #bcbcbd;
    background-color: #cd3535;
    color: #fff;
}

.divProduto div .remover:hover{
    cursor: pointer;
    border: 1px solid #cd3535;
    background-color: transparent;
    color: #cd3535;
}

.mostrarPreco{
    margin-top: 40px;
}

.confirmar{
    display: flex;
    padding: 1em 0 1em 0;
    justify-content: right;
    align-items: center;
}

.confirmar p{
    margin-right: 10px;
    font-size: 14px;
}

.confirmar button{
    margin-right: 0;
    padding: 1em 2em 1em 2em;
    background-color: var(--principal);
    color: #fff;
    font-weight: bolder;
    border: 1px solid #eeeef1;
}

.confirmar button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--principal);
    border: 1px solid var(--principal);
}
