@import "./root.module.css";

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5em;
}

.topTexto{
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: var(--principal);
    padding: 1em 0 2em 0;
}

.topTexto svg{
    font-size: 22px;
    margin-right: 10px;
}

.topTexto h1{
    font-size: 26px;
}

.containerCards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menuTabela{
    background-color: #eeeef1;
} 

.menuTabela ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: right;
    font-size: 18px;
    font-weight: bolder;
}

.menuTabela .produto{
    width: 50%;
}

.menuTabela .preco{
    text-align: right;
    width: 20%;
}

.menuTabela .quantidade{
    text-align: right;
    width: 20%;
    padding-right: 5px;
}

.divProduto{
    display: flex;
    background-color: #eeeef1;
    border-top: 1px solid #bcbcbd;
    border-left: none;
    border-right: none;
    align-items: center;
    height: 150px;
}

.divProduto img{
    width: 8%;
    margin-right: 1.5%;
}

.divProduto .nome{
    width: 50%;
}

.divProduto span{
    text-align: right;
    width: 20%;
}

.divProduto div{
    position: relative;
    width: 20%;
}

.divProduto div span{
    padding: 0 1em 0 1em;
}

.divProduto div button{
    background-color: #bcbcbd;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

.divProduto div button:hover{
    cursor: pointer;
    background-color: #d1d1d1;
    border: 1px solid #bcbcbd; 
}

.divProduto div .btnQuant{
    margin-left: 25%;
}

.divProduto div .remover{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 1em;
    padding: 0;
    width: 30px;
    height: 30px;
    vertical-align: super;
    border: 1px solid #bcbcbd;
    background-color: #cd3535;
    color: #fff;
}

.divProduto div .remover:hover{
    cursor: pointer;
    border: 1px solid #cd3535;
    background-color: transparent;
    color: #cd3535;
}

.mostrarPreco{
    margin-top: 40px;
}

.confirmar{
    display: flex;
    padding: 1em 0 1em 0;
    justify-content: right;
    align-items: center;
}

.confirmar .info{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
}

.confirmar h2{
    font-size: 16px;
    color: var(--principal);
}

.confirmar .info form{
    justify-self: right;
}

.confirmar .info input{
    display: flex;
    margin: 10px 0 10px 0;
    height: 30px;
    width: 95%;
    background-color: transparent;
    border: 1px solid var(--principal);
    outline: 0;
    padding: 10px 2.5%;
}

.confirmar .info button{
    margin: 15px 0 0 0;
    padding: 1em 2em 1em 2em;
    background-color: var(--principal);
    color: #fff;
    font-weight: bolder;
    border: 1px solid #eeeef1;
}

.confirmar .info button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--principal);
    border: 1px solid var(--principal);
}

@media(max-width: 1150px){
    .topTexto svg{
        font-size: 20px;
        margin-right: 10px;
    }
    
    .topTexto h1{
        font-size: 24px;
    }
    
    .menuTabela .produto{
        width: 50%;
    }
    
    .menuTabela .preco{
        width: 10%;
    }
    
    .menuTabela .quantidade{
        width: 30%;
        text-align: center;
    }

    .divProduto .nome{
        width: 50%;
    }

    .divProduto span{
        width: 10%;
    }

    .divProduto div{
        width: 30%;
    }

    .divProduto div span{
        padding: 0 0.5em 0 0.5em;
    }
    
    .divProduto div button{
        width: 20px;
        height: 20px;
    }

    .divProduto div .btnQuant{
        margin-left: 40%
    }
    
    .divProduto div .remover{
        width: 20px;
        height: 20px;
    }
}

@media(max-width: 750px){
    .topTexto svg{
        font-size: 16px;
    }
    
    .topTexto h1{
        font-size: 20px;
    }

    .menuTabela ul{
        font-size: 14px;
    }

    .menuTabela .produto{
        width: 45%;
    }

    .menuTabela .quantidade{
        text-align: right;
        width: 25%;
    }

    .divProduto{
        font-size: 14px;
    }

    .divProduto img{
        width: 20%;
        margin: 0;
    }

    .divProduto div .btnQuant{
        margin-left: 20%
    }
}

@media(max-width: 550px){
    .menuTabela .produto{
        width: 30%;
    }

    .menuTabela .preco{
        width: 30%;
    }

    .menuTabela .quantidade{
        text-align: center;
        width: 35%;
    }

    .divProduto .nome{
        width: 30%;
    }

    .divProduto span{
        width: 15%;
    }

    .divProduto div{
        width: 40%;
    }

    .divProduto div .btnQuant{
        margin-left: 3em;
    }

    .divProduto div .remover{
        right: 3px;
    }


    .confirmar{
        display: flex;
        padding: 1em 0 1em 0;
        justify-content: center;
        align-items: center;
    }
    
    .confirmar h2{
        font-size: 14px;
        color: var(--principal);
    }
    
    .confirmar .info form{
        text-align: center;
    }
    
    .confirmar .info input{
        height: 30px;
        width: 95%;
        padding: 10px 2.5%;
        font-size: 12px;
    }
}