@import "../css/root.module.css";

.footer{
    background-color: var(--fundo-footer);
    display: flex;
    width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}