@import "./root.module.css";

.nav{
    display: flex;
    padding: 0 3em 0 3em;
    background-color: var(--principal);
    align-items: center;
    position: relative;
}

.nav div{
    width: 50%;
}

.nav div img{
    width: 120px;
}

.nav label, input, .carrinho{
    display: none;
}

.navigation{
    display: flex;
    justify-content: right;
}

.navigation ul{
    display: flex;
    list-style: none;
    justify-content: right;
}

.navigation ul li{
    margin: 0 20px 0 20px;
}

.navigation ul li a{
    text-decoration: none;
    color: #fff;
}

.navigation ul li a span{
    display: none;
}

.navigation ul li a:hover{
    text-decoration: underline;
}

.navigation ul li svg{
    font-size: 22px;
}

@media(max-width: 700px){
    .nav{
        padding: 0 1.5em 0 1.5em;
    }

    .nav div img{
        width: 80px;
    }

    .navigation{
        box-shadow: -1px 0 10px #102672;
        background-color: var(--principal);
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        justify-content: left;
        border-top-left-radius: 20px;
    }
    
    .navigation ul{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    .navigation ul li{
        margin: 15px 0 15px;
    }

    .nav label{
        display: flex;
        position: absolute;
        right: 0;
        padding-right: 1em;
        color: #fff;
        font-size: 18px;
    }

    .navigation label{
        left: 0;
        padding: 0.7em;
        font-size: 22px;
    }

    .navigation ul li a span{
        display: flex;
    }

    .navigation ul li a svg{
        display: none;
    }

    .carrinho{
        display: flex;
        position: absolute;
        right: 0;
        padding-right: 3em;
        color: #fff;
        font-size: 18px;
    }

    input[type=checkbox]:checked ~ .navigation{
        display: flex;
        height: 100vmax;
    }
}