@import "./root.module.css";

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0 1em 0;
}

.texto p{
    font-size: 20px;
    color: var(--principal);
    font-weight: bolder;
}

.texto svg{
    font-size: 28px;
    margin-right: 10px;
    color: var(--principal);
}

.containerProdutos{
    display: flex;
    flex-direction: column;
}

.categoria{
    background-color: #eeeef1;
}

.categoria h1{
    color: var(--principal);
    margin-left: 1em;
}

.navCategoria{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}

.navCategoria ul{
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0 auto;
    background-color: var(--principal);
}

.navCategoria ul li{
    padding: 1em 0 1em 0;
    width: 170px;
    border: 1px solid #fff;
    border-bottom: none;
    border-top: none;
    text-align: center;
}

.navCategoria ul li:hover{
    background-color: var(--secundaria);
    cursor: pointer;
}

.navCategoria ul a{
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
}

.navCategoria ul li svg{
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
}

.containerCards{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 100%;
    padding: 2em 0 2em 0;
    margin: 0 auto;
}

.cardDiv{
    width: 95%;
    height: 300px;
    border: 1px solid #cbcbcf;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

.cardDiv div{
    width: 97%;
    height: 50%;
    background-color: #eeeef1;
    margin: 10px auto; 
    margin-bottom: 20px;
}

.cardDiv div img{
    width: 100%;
    height: 100%;
}

.cardDiv p{
    width: 97%;
    height: auto;
    background-color: #eeeef1;
    margin: 10px auto;
}

.cardDiv button{
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    background-color: var(--principal);
    width: 95%;
    height: 40px;
    color: var(--fundo);
    border: none;
}

.cardDiv button:hover{
    background-color: var(--secundaria);
    font-weight: bolder;
    cursor: pointer;
}

@media(max-width: 1100px){
    .containerCards{
        grid-template-columns: repeat(4, 25%);
    }
}

@media(max-width: 1100px){
    .navCategoria ul li{
        width: 120px;
    }
}

@media(max-width: 880px){
    .texto p{
        font-size: 18px;
    }
    
    .texto svg{
        font-size: 26px;
        margin-right: 10px;
        color: var(--principal);
    }

    .categoria h1{
        color: var(--principal);
        margin-left: 1em;
        font-size: 22px;
    }

    .navCategoria ul li{
        width: 100px;
        font-size: 14px;
    }

    .containerCards{
        grid-template-columns: repeat(3, 33%);
    }
}

@media(max-width: 650px){
    .navCategoria ul li{
        display: flex;
        flex-direction: column;
        width: 60px;
        font-size: 10px;
        align-items: center;
    }

    .categoria h1{
        color: var(--principal);
        margin-left: 1em;
        font-size: 18px;
    }

    .navCategoria ul li svg{
        margin-bottom: 5px;
    }

    .containerCards{
        grid-template-columns: repeat(2, 50%);
    }
}